NODE_ENV=production
APP_FQDN=itecs.ai

# Let's Encrypt (Cloudflare DNS-01 challenge)
LETSENCRYPT_EMAIL=admin@example.com
CLOUDFLARE_DNS_API_TOKEN=
LE_DNS_PROPAGATION_SECONDS=60

# GitHub
GITHUB_TOKEN=
